label.firstCol {
    display: block;
}

input {
    height: 23px;
    font-size: 14px;
    margin-bottom: 5px;
}

label > span {
    float: left;
    width: 100px;
}

.explanation, .checkboxes {
    display: block;
    margin-left: 100px;
}

.private {
    display: block;
}

ul.ui-autocomplete {
    list-style-type: none;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
}

.ui-helper-hidden-accessible {
    display: none;
}


#searchTags {
    font-weight: bold
}
