body{
background: #ffffff;
color: #000000;
margin: 0px;
font-family: Verdana, Arial, sans-serif;
}
#form{
background: #ffffff;
width: 400px;
text-align: left;
}
label{
color: #846333;
font-weight: bold;
}
fieldset{
border: 2px solid #846333;
margin: 0px 5px 5px 5px;
padding: 0px 2px 2px 5px;
}
legend{
color: #846333;
font-weight: bold;
}