.page-title {
    display: inline;
}

.codes {
    margin-left: 10px;
}

.code-link {
    margin-right: 5px;
}

.sort-by-code {
    display: block;
    margin-top: 7px;
}

.sites-table {
    table-layout: fixed;
}

.one-url {
    margin-top: 15px;
}

.label {
    width: 250px;
}

.output-message {
    display: inline;
}

.redirect-url {
    display: block;
}

.chgToRedir {
    display: block;
    margin-top: 13px;
}

.changeToRedirect {
    cursor: pointer;
    font-size: 12px;
}

.delete-button {
    cursor: pointer;
}

.url-col {
    word-wrap:break-word;
}

.title {
    width: 225px;
}

.extended-col {
    width: 138px;
}

.tags-col {
    width: 119px;
}

.post-date {
    width: 100px;
}

.message-col {
    width: 217px;
    word-wrap:break-word;
}

.actions {
    width: 167px;
}

